:root{
    --text: rgb(49, 55, 74);
    --text_fade: rgba(49, 55, 74, 0.5);
    --background: rgb(249, 249, 249);
    --border: rgb(235, 235, 235);
}


@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.ttf');
    font-weight: bold;
}

body{
    font-family: 'Poppins';
    display: grid;
    gap: 2em;
    margin: 2em;
    background-color: var(--background);
    color: var(--text);
}

h1,h2,h3,p{
    margin: 0;
}

.info{
    display: grid;
    max-width: 600px;
    gap: 1em;
}

/* Editor */
.editor{
    display: grid;
    gap: 1em;
}

.selector-holder{
    display: grid;
    filter: drop-shadow(1.5px 1.5px 3px rgba(0,0,0,0.1));
    margin-right: auto;
}

.selector-holder .tabs{
    display: flex;
    gap: 0.3em;
    margin-left: 1.25em;
    z-index: 1;
    margin-bottom: -2px;
    color: var(--text_fade);
}

.selector-holder .tabs>div{
    padding: 0.5em 0.8em;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: none;
}

.selector-holder .tabs>div.selected{
    background-color: white;
    box-shadow: none;
}

.selector-holder .content{
    display: grid;
    gap: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: white;
}

.selector{
    display: flex;
    gap: 0.5em;
}

.selector .select-box{
    display: grid;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}
.selector .select-box img{
    width: 3em;
    height: 3em;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

.selector .select-box.rest img{
    transform: scale(0.7); /* Rests should look smaller for design puproses */
}

.selector .select-box input{
    display: none;
    visibility: hidden;
}

.selector .select-box:hover{
    background-color: rgba(0,0,0,0.2);
}

.selector .select-box.selected{
    background-color: rgb(35, 114, 250);
    transition: 0.1s;
    box-shadow: none;
}

.selector .select-box.selected img{
    filter: invert(1);
}

.timeline{
    background-color: rgb(245,245,245);
    height: 10em;
    display: flex;
    position: relative;
    border-radius: 1em;
    overflow-x: scroll
}

/* .timeline::before{
    content: '';
    position: absolute;
    height: 1.7px;
    background-color: black;
    width: 100%;
    bottom: 50%;
    transform: translateY(-50%);
} */

.timeline .item-box{
    display: grid;
    align-self: center;
    padding: 0.8em;
    border-left: 3px solid transparent;
    position: relative;
}

.timeline .item-box.between{
    border-left: 3px solid rgb(35, 114, 250);
}

.timeline .item-box.dotted::after{
    content: '.';
    position: absolute;
    font-size: 3em;
    right: 0.1em;
    bottom: 0em;
}

.timeline .item-box .insert-action{
    position: absolute;
    border-radius: 0.25em;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

.timeline .item-box .item{
    display: grid;
    height: 4em;
    min-width: 2.5em;
    filter: drop-shadow(2px 0px 0px rgb(245,245,245)) drop-shadow(-2px 0px 0px rgb(245,245,245));
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.15s;
}

.timeline .item-box .item:hover{
    opacity: 0.5;
    transition: opacity 0s;
}

.timeline .item-adder{
    display: grid;
    place-items: center;
    padding: 0.8em;
    max-width: 100%;
    width: 100%;
    min-width: 6em;
    border-left: 3px solid transparent;
    margin: 1em;
    transition: 0.15s border-left;
}

.timeline .item-adder:hover{
    border-left-color: rgb(35, 114, 250);
    transition: 0s border-left;
}